OPENMRS_HOME="/root/.OpenMRS"
OPENMRS_MODULES="/root/.OpenMRS/modules"
OPENMRS_PLATFORM_URL="https://sourceforge.net/projects/openmrs/files/releases/OpenMRS_Platform_2.6.5/openmrs.war/download"
OPENMRS_REST_URL="https://modules.openmrs.org/modulus/api/releases/1616/download/webservices.rest-2.20.0.omod"

OPENMRS_MYSQL_HOST="172.17.0.1"
OPENMRS_MYSQL_PORT="3306"
OPENMRS_DB_PASS="Ampath123",
OPENMRS_DB_USER="amrs_user",
OPENMRS_HOME="/root/.OpenMRS",
OPENMRS_MODULES="/root/.OpenMRS/modules",
#OPENMRS_MYSQL_HOST="10.50.80.240",
OPENMRS_MYSQL_PORT="3306",
OPENMRS_NAME="amrs",
DB_NAME="amrs",
NOMAD_ADDR_http="10.50.80.110:8081",
NOMAD_ALLOC_DIR="/alloc",
NOMAD_ALLOC_ID="f758b089-f333-5127-02ca-6744ded4a32b",
NOMAD_ALLOC_INDEX="0",
NOMAD_ALLOC_NAME="amrs.amrs-2-4-prod-1-5[0]",
NOMAD_ALLOC_PORT_http="8080",
NOMAD_CPU_LIMIT="20000",
NOMAD_DC="ampathdc1",
NOMAD_GROUP_NAME="amrs-2-4-prod-1-5",
NOMAD_HOST_ADDR_http="10.50.80.110:8081",
NOMAD_HOST_IP_http="10.50.80.110",
NOMAD_HOST_PORT_http="8081",
NOMAD_IP_http="10.50.80.110",
NOMAD_JOB_ID="amrs",
NOMAD_JOB_NAME="amrs",
NOMAD_MEMORY_LIMIT="40000",
NOMAD_NAMESPACE="default",
NOMAD_PORT_http="8080",
NOMAD_REGION="global",
NOMAD_SECRETS_DIR="/secrets",
NOMAD_TASK_DIR="/local",
NOMAD_TASK_NAME="amrs-task"
                